<br><div class="container content">

    <h1>Your Notes</h1>

    <%= link_to 'New Note', new_note_path, class:"button is-primary" %>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Summary</th>
                <th>Creator</th>
                <th>Contributors</th>
                <th>Tags</th>
                <th colspan="2"></th>
            </tr>
        </thead>

        <tbody>
            <% @notes.each do |note| %>
            <% if current_user.notes.include?(note) %>
            <tr>
                <td>
                <%= link_to note.title, note, class:"button is-outlined is-small is-primary" %>
                </td>
                <td><%= note.created_at.localtime.strftime("%e/%b/%y, %I:%M %p") %></td>
                <td><%= note.summary %></td>
                <td><%= note.creator.name %></td>
                <td>
                <% note.users.each do |user| %>
                <% if user.name != note.creator.name %>
                <%= user.name %><br>
                <% end %>
                <% end %>
                </td>
                <% note.tags.any? %>
                <td><% note.tags.each do |tag| %>
                <%= link_to tag.name, tagged_url(:tag => tag.name), class:"tag is-primary is-small" %>
                <% end %></td>

                <!-- <td><% note.tags.each do |tag| %>
                  <span class="tag is-primary"><%= tag %></span>
                <% end %>
                </td> -->


                <td><%= link_to 'View / Edit', note, class:"button is-small is-primary" %></td>
                <% if note.creator.id == current_user.id %>
                <td><%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' }, class:"button is-small is-primary" %></td>
                <% end %>
            </tr>

            <% end %>
            <% end %>
        </tbody>
    </table>

    <br>

    <%= link_to 'New Note', new_note_path, class:"button is-primary" %>

</div>
