<div class="container content">

    <h1>Notes</h1>

    <%= link_to 'New Note', new_note_path, class:"button is-primary" %>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Text</th>
                <th>Summary</th>
                <th>Creator ID</th>
                <th>Tags</th>
                <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
            <% @notes.each do |note| %>
            <tr>
                <td><%= note.title %></td>
                <td><%= note.location %></td>
                <td><%= note.text %></td>
                <td><%= note.summary %></td>
                <td><%= note.creator_id %></td>
                <td><% note.tags.each do |tag| %>
                  <span class="tag is-primary"><%= tag %></span>
                <% end %>
                </td>
                <td><%= note.creator_id %></td>
                <td><%= link_to 'Show', note, class:"button is-small is-primary" %></td>
                <td><%= link_to 'Edit', edit_note_path(note), class:"button is-small is-primary" %></td>
                <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class:"button is-small is-primary" %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <br>

    <%= link_to 'New Note', new_note_path, class:"button is-primary" %>

</div>
