<br><br>

<div class="container">

<div class="card">

<header class="card-header" style="padding: 20px">
  <h1 class="title"><%= @note.title %></h1>
</header>

<div class="card-content">

<p>
  <strong>Summary:</strong><br>
  <%= @note.summary %><br><br>
</p>

<p>
  <strong>Original Notes:</strong><br>
  <%= @note.text %><br><br>
</p>

<p>
<% @note.tags.any? %>
  <% @note.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name), class:"tag is-primary" %>
<% end %><br><br>
</p>

<p><i>
  <%= @note.location %>,
  <%= @note.created_at.localtime.strftime("%e %B %Y, %I:%M %p") %><br><br>
</i></p>

</div>

<footer class="card-footer">

  <% if @note.creator_id == current_user.id || current_user.notes.include?(@note) %>
  <%= link_to 'Edit', edit_note_path(@note), class:"card-footer-item" %>
  <%= link_to 'PDF', note_path(@note, format:"pdf"), class:"card-footer-item" %>
  <%= link_to 'Email', export_email_path(id: @note.id), class:"card-footer-item", method: :post %>
  <% else %>
  <%= link_to 'Join', join_path(id: @note.id), class:"card-footer-item" %>
  <% end %>
  <%= link_to 'Back', notes_path, class:"card-footer-item" %>

</footer>

</div>
</div>

<br><br>
