<br><br>

<div class="container">

<div class="card">

<header class="card-header" style="padding: 20px">
  <h1 class="title left"><%= @note.title %></h1>
</header>

<div class="card-content">

  <div class="field has-addons" style="padding:0">
    <p class="control is-expanded">
      <input class="input is-medium" id="url" value="<%= request.original_url %>">
    </p>
    <p class="control">
      <button class="clipboard-btn button is-primary is-medium" data-clipboard-action="copy" data-clipboard-target="#url" title="Copy URL to share with another user">
      <i class="fa fa-clipboard"></i>
      </button>
    </p>
  </div>

<p>
  <h3><strong>Summary:</strong><br>
  <%= @note.summary %><br><br></h3>
</p>

<p>
  <h3><strong>Original Notes:</strong><br>
  <%= @note.text %><br><br></h3>
</p>

<p>
<% @note.tags.any? %>
  <% @note.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name), class:"tag is-primary", style:"margin:2px; font-size:0.8em" %>
<% end %><br><br>
</p>

<p><i>
  <%= @note.location %>,
  <%= @note.created_at.localtime.strftime("%e %B %Y, %I:%M %p") %><br>
</i></p>

</div>

<footer class="card-footer">

  <% if @note.creator_id == current_user.id || current_user.notes.include?(@note) %>
  <%= link_to 'Edit'.html_safe, edit_note_path(@note), class:"card-footer-item" %>
  <%= link_to 'PDF', note_path(@note, format:"pdf"), class:"card-footer-item" %>
  <%= link_to 'Email', export_email_path(id: @note.id), class:"card-footer-item", method: :post %>
  <% else %>
  <%= link_to 'Join', join_path(id: @note.id), class:"card-footer-item" %>
  <% end %>
  <%= link_to 'Back', notes_path, class:"card-footer-item" %>

</footer>

</div>
</div>

<br><br>

<script>

  $(document).ready(function() {
    var clipboard = new Clipboard('.clipboard-btn')
    console.log(clipboard)
  })

</script>
