
<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @note.location %>
</p>

<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @note.summary %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
