<br><br>

<div class="container">

<div class="card">

<header class="card-header">
  <h1 class="title"><%= @note.title %></h1>
</header>

<div class="card-content">

<% @note.tags.any? %>
  <% @note.tags.each do |tag| %>
  <%= link_to tag.name, tagged_url(:tag => tag.name), class:"tag is-primary" %>
<% end %>

<p>
  <strong>Location:</strong>
  <%= @note.location %>
</p>

<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @note.summary %>
</p>
</div>

<footer class="card-footer">

  <% if @note.creator_id == current_user.id %>
  <%= link_to 'Edit', edit_note_path(@note), class:"card-footer-item" %>
  <% else %>
  <%= link_to 'Join', join_path, class:"card-footer-item" %>
  <% end %>

<%= link_to 'Back', notes_path, class:"card-footer-item" %>
<%= link_to 'Export to PDF', note_path(@note, format:"pdf"), class:"card-footer-item" %>
<%= link_to 'Export to Email', notes_path, class:"card-footer-item" %>
</footer>

</div>
</div>

<br><br>
