<section class="hero is-primary is-fullheight is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-1">
                    <br><br>
                    <h1 class="title">
                        <b>Take notes. Never worry about them again.</b>
                    </h1>
                    <h4 class="subtitle">Telder summarizes and sorts your notes. Edit notes real-time with others. Speed life up.</h4>

                    <% if !user_signed_in? %>
                    <button id="toggle-modal-signup" class="button is-warning">Sign up now</button>
                    <button id="toggle-modal-login" class="button is-warning">Login</button>
                <% else %>
                    <%= link_to "See all Notes", notes_path, class:"button is-warning", style:"color:#444444" %>
                    <%= link_to "Add a note", new_note_path, class:"button is-warning", style:"color:#444444" %>
                    <% end %>

                </div>
                <div class="column">
                    <img id="landing-gif" src="https://media.giphy.com/media/xUA7b6FSPVFuNiIyEE/giphy.gif" alt="screen-video">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section main">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <h3>
                            <p><img src="http://i.imgur.com/gbjiQZOl.png" alt="browser-icon" style="max-height:150px"></p><br>
                            <p>Summarization and auto-
                                <br>
                                tagging. No more sorting.</p>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <h3>
                            <p><img src="http://i.imgur.com/sNCf0qBl.png" alt="collab-icon" style="max-height:150px"></p><br>
                            <p>Real-time text editor
                                <br>and sharing functions.</p>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <h3>
                            <p><img src="http://i.imgur.com/PxjeUusl.png" alt="export-icon" style="max-height:150px"></p><br>
                            <p>PDF and Email
                                <br>exporting for convenience.</p>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <h3>
                            <p><img src="http://i.imgur.com/seFFVDKl.png" alt="lock-icon" style="max-height:150px"></p><br>
                            <p>Encrypted note IDs.<br>Your notes stay secure.</p>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-login">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="notification">
            <button class="delete is-pulled-right" id="toggle-modal-login"></button>
            <h1 class="title">Login</h1>
            <%= form_for(:user, url: session_path(:user)) do |f| %>
            <div class="field">
                <%= f.label :email, class:"label" %>
                <%= f.email_field :email, autofocus: true, class:"input" %>
            </div>
            <div class="field">
                <%= f.label :password, class:"label" %>
                <%= f.password_field :password, autocomplete: "off", class:"input" %>
            </div>
            <div class="actions">
                <%= f.submit "Log in", class:"button is-primary" %>
            </div>
            <% end %>
        </div>
    </div>
    <button class="modal-close" id="toggle-modal-login"></button>
</div>

<div class="modal" id="modal-signup">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="notification">
            <button class="delete is-pulled-right" id="toggle-modal-signup"></button>
            <h1 class="title">Register as new user</h1>

            <%= form_for(:user, url: registration_path(:user)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
                <%= f.label :name, class:"label" %>
                <%= f.text_field :name, autofocus: true, class:"input"%>
            </div>

            <div class="field">
                <%= f.label :email, class:"label" %>
                <%= f.email_field :email, autofocus: true, class:"input" %>
            </div>

            <div class="field">
                <%= f.label 'Password (6 characters minimum)', class:"label" %>
                <%= f.password_field :password, autocomplete: "off", class:"input" %>
            </div>

            <div class="field">
                <%= f.label 'Confirm Password', class:"label" %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class:"input" %>
            </div>

            <div class="actions">
                <%= f.submit "Register", class:"button is-primary" %>
            </div>
            <% end %>

        </div>
    </div>
    <button class="modal-close" id="toggle-modal-signup"></button>
</div>

<script>

    $('[id=toggle-modal-login]').click(function () {
        $('#modal-login').toggleClass('is-active')
    })

    $('[id=toggle-modal-signup]').click(function () {
        $('#modal-signup').toggleClass('is-active')
    })

</script>
