<section class="hero is-fullheight is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4 is-offset-4">
                    <h1 class="title">
                        Login
                    </h1>
                    <div class="box">

                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="field">
                            <%= f.label :email, class:"label" %>
                            <%= f.email_field :email, autofocus: true, class:"input" %>
                        </div>

                        <div class="field">
                            <%= f.label :password, class:"label" %>
                            <%= f.password_field :password, autocomplete: "off", class:"input" %>
                        </div>

                        <div class="actions">
                            <%= f.submit "Log in", class:"button is-primary" %>
                        </div>
                        <% end %>

                    </div>
                    <p class="has-text-centered">
                        <%= render "devise/shared/links" %>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
