<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html'; charset="utf-8" http-equiv="Content-Type">
    <style media="screen">
      .block {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    </style>
  </head>
  <body>

    <h1><%= @note.title %></h1>
    <br>

    <div class="block">
      <b>SUMMARY:</b> <p><%= @note.summary %></p>
    </div>

    <br>

    <div class="block">
      <b>ORIGINAL NOTE:</b> <p><%= @note.text %><p>
    </div>

    <i>Created <%= @note.created_at.localtime.strftime("%e %B %y, %I:%M %p") %> at <%= @note.location %></i>

    <br><br>
    Yours,
    <br>
    Telder

  </body>
</html>
