<!DOCTYPE html>
<html>
    <head>
        <title>Telder</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

        <%= render "partials/navbar" %>

        <% if notice %>
          <p class="notification is-primary" style="margin:0"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="notification is-danger" style="margin:0"><%= alert %></p>
        <% end %>

        <%= yield %>

        <%= render "partials/footer" %>

    </body>
</html>
